/*
	Claudina Sarahe HSAVAT Yearbook book

	Color Scheme
	------------
	Primary: #76367b
	Accent: gold
	Secondary: white

 */


/* Page Layout */
/* =========== */
*,
html {
	box-sizing: border-box; /* Hack to make the internet behave */
}

body {
	font-family: "Open Sans Condensed", sans-serif;
	font-size:  14px;
	line-height: 1.4;
}

.wrapper {
	max-width: 1024px;
	width: 1024px;
	margin:0px auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
	flex:  1;
}

footer {
	background: #76367b;
	color: white;
	text-align: center;
	font-size: 11px;
	padding: 5px 0;
}

/* Link Styles */

a {
	color: #76367b;
	text-decoration: none;
}

a:hover {
	color: gold;
}

a:visted {
	color: red;
}



/*
	Resets
 */
img {
	width: 100%;
	height: auto;
}

ul,
ol {
	margin: 0;
	padding:  0;
}

p {
	margin: 0;
}

/*
	Typography
 */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Ubuntu Condensed", sans-serif;
	margin: 0;
	padding: 0;
}

.headline-light {
	color: white;
}

.headline-dark {
	color: #76367b;
}

.lead-text {
	font-size: 18px;
	line-height: 1.6;
}

/*
	Components
	==========
	These are reuseable classes. They are used on many different sections to
	make components look the same and reduce the amount of CSS.
*/

/* Makes images circles */
.circle-image {
	width: 150px;
	height:  150px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

/* HSAVAT Student Block */
.hsavat-student-block {
	justify-content: center;
	text-align: center;
}


/* Navigation */

.nav {
	border-bottom:  1px solid lightgrey;
	padding: 10px 15px;
	text-align: right;
}

.nav .link {
	margin-right:  10px;
}

.nav a:hover {
	border-bottom: 1px solid gold;
}

.home-link {
	align-self: flex-start;
	float: left;
}


/* Header Introduction */

.intro {
	text-align: center;
	padding: 15px 0;
}

.intro-image {
	border:  3px solid #76367b;
	width: 100px;
	height: 100px;
}

.intro-image img {
	width: 150px;
	margin-left:  -20px;
}


/* Travel Section */
.travel-section-content {
	display: flex; /* or you can use the .flex class */
	flex-wrap: wrap;
}

.travel-section-header {
	text-align: center;
	max-width: 600px;
	margin: 30px auto;
}

.travel-section-headline {
	margin-bottom: 15px;
}

.travel-item {
	width: 50%;
}

.travel-item-content {
	padding: 15px;
}

.travel-item-content h3 {
	margin-bottom: 10px;
}

.travel-item-budapest {
	background: gold;
}

.travel-item-berlin {
	background: #76367b;
	color: white;
}

.travel-item-dr {
	background: gold;
}

.travel-item-melbourne {
	background: #76367b;
	color: white;
}


/* Home Page */

.home-about {
	font-size: 20px;
	line-height: 1.5;
	padding: 0 3em;
	margin: 2em 0;
}

.home .intro {
	background: #dfdfdf;
	display: flex;
	flex-direction: column;
	height: 400px;
	justify-content: flex-end;
}

.student-section h1 {
	text-align: center;
	font-size: 40px;
}

.student-list {
	display: flex;
	flex-wrap: wrap;
	margin: 2em 0;
}

.hsavat-student-block-inner {
	display: flex;
	flex-direction: column;
	padding: 48px;
}

.student-image {
	margin-bottom: 20px;
}

.student-name {
	font-size: 26px;
	margin-bottom: 16px;
}

.student-byline {
	font-size: 20px;
	margin-bottom: 30px;
}

.student-details {
	text-align: left;
	list-style: none; /* Hide bullets */
	font-size: 16px;
}

.student-details li {
	margin-bottom: 10px;
}

.student-list .hsavat-student-block {
	display: flex;
	width: 50%;
	min-height: 500px;
}

.student-list .hsavat-student-block a {
	color: white;
	display: block;
	width: 100%;
	height: 100%;
}

.student-list .hsavat-student-block a:hover {
	border-bottom: none;
}

.hsavat-student-zahra {
	background-color: salmon;
}

.hsavat-student-zahra .student-image {
	border: 3px solid lightpink;
}

.hsavat-student-zahra a:hover {
	background-color: lightpink;
}

.hsavat-student-zahra a:hover .student-image {
	border: 3px solid salmon;
}

.hsavat-student-jayqhad {
	background-color: lightblue;
}

.hsavat-student-jayqhad .student-image {
	border: 3px solid lightgreen;
}

.hsavat-student-jayqhad a:hover {
	background-color: lightgreen;
}

.hsavat-student-jayqhad a:hover .student-image{
	border: 3px solid lightblue;
}

.hsavat-student-mael {
	background-color: darkred;
}

.hsavat-student-mael .student-image{
	border: 3px solid darkorange;
}

.hsavat-student-mael a:hover {
	background-color: darkorange;
}

.hsavat-student-mael a:hover .student-image{
	border: 3px solid darkred;
}

.hsavat-student-cs {
	background-color: purple;
}

.hsavat-student-cs .student-image {
	border: 3px solid gold;
}

.hsavat-student-cs a:hover {
	background-color: gold;
}

.hsavat-student-cs a:hover .student-image {
	border: 3px solid purple;
}

.hsavat-student-cs img {
	width: 150px;
	margin-left:  -20px;
}

/* Student Work Homepage */
/*.student-work-content {
	displ
}
*/
.student-work-colum {
	width: 50%;
}



/* HSAVAT Section */
.hsavat-students {
	margin-bottom: 30px;
}

.hsavat-students-headline {
	text-align: center;
	margin: 30px 0;
}

.hsavat-students-content {
	display: flex;
}

.hsavat-students .hsavat-student-block {
	width:25%;
	margin:10px 5px 10px 5px;
}

.hsavat-students .hsavat-student-block .student-image {
	border: 3px solid purple;
}

.hsavat-students .hsavat-student-block .student-image:hover {
	border-color: gold;
}


.left-side-picture {
	margin-left: 10px;
}

.right-side-picture {
	margin-right: 10px;
}


/* Speaking Section */

.speaking-section {
	background:  url('../img/cs-speaking.jpg');
	height: 500px;
}

.speaking-section-content {
	color: white;
	width: 50%;
	text-align: center;
}


/* Side by Side Image with Content */

.diptych-with-image {
	display: flex;
	height:  600px;
	overflow: hidden;
}

.diptych-with-image-flipped .image {
	order:  1;
}

.diptych-with-image-flipped .content {
	order:  0;
}


.diptych-with-image .block {
	width:  50%;
}

.diptych-with-image .content {
	padding:  10px 15px;
}

.icon-list li {
/* 	display: flex;
	align-items: center;
 */	margin-bottom:  25px;
}

.icon-list .icon {
	width:  50px;
	height:  50px;
	margin-right: 15px;
	background: #76367b;
	border-radius: 50%;
	padding: 5px;
}
