body {
	font-family: "Open Sans Condensed", sans-serif;
}

.wrapper {
	max-width: 1024px;
	width: 1024px;
	margin:0px auto;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

a:hover {
	background: red;
	color:  white;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Ubuntu Condensed", sans-serif;
}

article {
	width:25%;
	background:green;
	margin:10px 5px 10px 5px;

}

section {
	background: white;
}

.left-side-picture {
	margin-left: 10px;
}

.right-side-picture {
	margin-right: 10px;
}

/*
	Nav
*/

.nav {
	border-bottom: 1px solid grey;
	padding: 15px 0;
	text-align: right;
}

.nav a {
	margin-left:  15px;
}


/*
	Intro Section
*/
.intro {
	text-align: center;
}

.intro-image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin: 15px auto;
}

/*
	Speaking Section
*/

.speaking-section {
	background: #fff url('../img/cs-speaking.jpg') no-repeat;
	height: 500px;
}

.speaking-section-content {
	width: 500px;
	padding-top: 50px;
	padding-left: 50px;
	background: rgba(0, 0, 0, .3);
	color: white;
}

/*
	Hobby Section
*/

.hobby-section {
	display: flex;
}

.hobby-section-image {
	width:  50%;
}

.hobby-section-content {
	width:  50%;
}

.hobby-list {
	list-style: none;
}

.hobby-list .icon {
	background: purple;
	width: 100px;
	height:  100px;
}
